<!--MODAL MORE-->
  <!-- Modal -->
  <div class="modal fade" id="educaModalMore" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir Educacion:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Logo de la Institucion url:</label>
            <input class="form-control" type="url">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Titulo:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Institucion:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Fecha:</label>
            <input type="date" class="form-control">
          </div>
          
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
</div>


<!--MODAL TEXTO-->
<div class="modal fade" id="educaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Educacion:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Logo de la Institucion url:</label>
            <input class="form-control" type="url">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Titulo:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Institucion:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Fecha:</label>
            <input type="date" class="form-control">
          </div>
          
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
</div>