<!--MODAL MORE-->
  <!-- Modal -->
  <div class="modal fade" id="educaModalMore" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir Educacion:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h2 class="fs-5">Titulo:</h2>
            <label for="exampleFormControlTextarea1" class="info"> </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

            <h2 class="fs-5 mt-2">Institucion:</h2>
            <label for="exampleFormControlTextarea1" class="info"> </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <h2 class="fs-5 mt-2">Fecha:</h2>
            <input type="date" class="form-control">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
</div>


<!--MODAL TEXTO-->
<div class="modal fade" id="educaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Educacion:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <div class="form-floating">
                  <p>Titulo:</p>  
                  <label for="exampleFormControlTextarea1" class="info"> </label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  <p>Institucion:</p>
                  <label for="exampleFormControlTextarea1" class="info"> </label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  <p>Fecha:</p>
                  <input type="date" class="form-control">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
</div>