#Logo{
    width: 80%;
    height: 60%;
}
#nav-bar{
    width: 80%;
    height: 75%;
}

body {
    background-size: cover ;
    background-image: url("/Imagenes/photo-1592609931095-54a2168ae893.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    color: white;
}

