
<!--MODAL PLUS-->
<div class="modal fade" id="skillsplusModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title  text-dark fs-5" id="exampleModalLabel">Añadir Hard Skills & Soft Skills:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
              <div class="form-floating">
                <p class="text-dark">Skills:</p>  
                <label for="exampleFormControlTextarea1" class="info"> </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <p class="text-dark">Color:</p>  
                <label for="exampleFormControlTextarea1" class="info"> </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <p class="text-dark">Porcentaje:</p>  
                <label for="exampleFormControlTextarea1" class="info"> </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>



<!--MODAL TEXTO-->
<div class="modal fade" id="skillsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title  text-dark fs-5" id="exampleModalLabel">Hard Skills & Soft Skills:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
              <div class="form-floating">
                <p class="text-dark">Skills:</p>  
                <label for="exampleFormControlTextarea1" class="info"> </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <p class="text-dark">Porcentaje:</p>  
                <label for="exampleFormControlTextarea1" class="info"> </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>