<section id="educacion" class="container-fluid cajon">
    <div id="box" class="p-3 bg-square bg-opacity-50 rounded text-white mt-3 pt-3">
      <div class="row">
        <div class="col-11">
        <p class="fw-bold fs-3 text-warning">Educación: </p>
        </div>
        <div class="col-1">
          <div data-bs-toggle="modal" data-bs-target="#educaModalMore">
            <i class="fa-sharp fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
        <div class="row" *ngFor="let educar of educacionList">
            <div class="col-11 pt-3">
              
                <dl>
                  <img [src]="educar.logo" class="logo" [alt]="educar.institucion">
                  <dt>{{educar.titulo}}</dt>
                  <dd>{{educar.institucion}} - {{educar.year}}</dd>
                </dl> 
            </div>

              <div class="col-1 mt-4">
                <div data-bs-toggle="modal" data-bs-target="#educaModal">
                  <i class="fa-solid fa-pencil"></i>
                </div>
                <div>
                  <i class="fa-solid fa-trash"></i>
                </div>
              </div>  


    </div>  
    </div>
</section>
<app-modal-educa></app-modal-educa>



