<div class="tab-pane fade show active" id="list-redes" role="tabpanel" aria-labelledby="list-redes-list">
    <form>
      <div class="mb-3">
      <label for="linkedin" class="form-label">Linkedin</label>
      <input type="text" class="form-control" id="linkedin">
      <button type="button" class="btn btn-primary mt-3 ms-2 me-2">Guardar</button>
      <button type="button" class="btn btn-danger mt-3 ms-2 me-2">Eliminar</button>
      <button type="button" class="btn btn-warning mt-3">Actualizar</button>
      </div>
      <div class="mb-3">
      <label for="github" class="form-label">Github</label>
      <input type="text" class="form-control" id="github">
      <button type="button" class="btn btn-primary mt-3">Guardar</button>
      <button type="button" class="btn btn-danger mt-3 ms-2 me-2">Eliminar</button>
      <button type="button" class="btn btn-warning mt-3">Actualizar</button>
      </div>   
    </form>
</div>