<!--Navbar-->
<nav id="nv-color" class="navbar navbar-expand-lg bg-head">    
    <div class="container-fluid">
        <a class="navbar-brand-content-center" routerLink=""><img src="assets/images/arg-programa.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
 
            </ul>
        </div>
    </div>             
</nav>

<div class="container-fluid bg-back mt-5">
        <div class="text">
    <!--FORMULARIO-->
    
            <div class="container text-center">
                <div class="row">
                    <div class="col-1">
                        <!--IZQUIERDO-->
                    </div>
                    <div class="col-10 card text-bg-light">
                        <div class="card-header"><img src="../../../assets/images/user.png" width="30%"></div>
                        <div class="card-body">
                            <form>
                                <div id="formulario" class="mb-3">
                                    <label for="example" class="form-label">Email:</label>
                                    <input formControlName="email" [class.is-invalid]="f.email.errors && f.email.touched" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                        Email obligatorio
                                    </div>
                                </div>

            
    
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Contraseña:</label>
                                    <input formControlName="password" [class.is-invalid]="f.password.errors && f.password.touched" type="password" class="form-control" id="exampleInputPassword1">
                                    <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                        Contaseña obligatorio
                                    </div>
                                    <small>Aun no registrado? <a routerLink="/registro">Registrate</a></small>
                                </div>


                                <button class="btn btn-primary mt-2">Ingresar</button>  
                                <!--<a class="btn btn-primary" routerLink="/panel" role="button">Ingresar</a>-->
                            </form>
                        </div>
                    </div>
                    <div class="col-1">
                        <!--DERECHO-->
                    </div>
                </div>
            </div>
    
        </div>
</div>    
