*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
   
}

.perfil{
    padding-top: 40px;
}

/* PANEL*/
.link{
    text-decoration: none;
    color: black;
}
#formulario{
    margin: 70px;
   
}

footer{
    text-align: center;
    background-color: #a6a8a8;
    padding: 0.5em 0;
    text-align: center;
}
