*{
    
    margin:0;
    padding: 0;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100vh;
    /*background-color:#8d99ae ;*/
}

.text{
    padding:50px;
}

/*CORREGIR BANNER*/
div.banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)) ,url("/assets/images/which-desk-setup-is-best-for-a-developer-379-1602744788208.webp");
    width: 100%;
    height: 70vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1.cabecera{
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top:10%;
  font-size: 3rem;
  font-weight: bold;
  width:100vw;  
}
@media (max-width:768px) {
    .banner{
        min-height: 30vh;
    }
}

h2.cabecera{
    text-align: center;
    display: flex;
    justify-content: center;
    color: #fff;
    padding-top:1%;
    font-size: 2em;
    width:100vw;  
  }
  @media (max-width:768px) {
      .banner{
          min-height: 30vh;
      }
  }


footer{
    position: absolute;
    left: 0;
    right: 0;
    background: #a6a8a8;
    height:auto;
    width:100vw;
    font-family: "Open Sans";
    padding-top: 15px;
    color: rgb(0, 0, 0);
}

.footer-bottom{
    width: 100vw;
    text-align: center;
    font-size: 14px;
}
