<div class="container-fluid cajon">
    <div id="box" class="p-3 bg-square bg-opacity-50 rounded text-white mt-3 pt-3">
        <div class="Educacion">
        <p class="fw-bold fs-3 text-warning">Educación:</p>
        <div class="row">
          <div class="col-10 pt-3"> 
            <dl>
              <img src="/assets/images/ispc.png" class="img-fluid logo" alt="institucion">
              <dt>Tecnico Superior en Ciencia de Datos e Inteligencia Artificial</dt>
              <dd>Instituto Superior Politecnico Cordoba - 2022</dd>
            </dl>
          </div>

          <div class="col-10 pt-3"> 
            <dl>
              <img src="/assets/images/ispc.png" class="img-fluid logo" alt="institucion">
              <dt>Tecnico Superior en Desarrollo Web y Aplicaciones Digitales</dt>
              <dd>Instituto Superior Politecnico Cordoba - 2022</dd>
            </dl>
          </div>
        </div>  
    </div>  
</div>
