<div class="container-fluid cajon">
    <div id="box" class="p-3 bg-square bg-opacity-50 rounded text-white mt-3 pt-3">
        <div class="Educacion">
        <p class="fw-bold fs-3 text-warning">Educación:</p>

        <div class="row">
            <div class="col-6 pt-5">
                <dl>
                    <dt>Tecnico Superior en Ciencia de Datos e Inteligencia Artificial</dt>
                    <dd>Instituto Superior Politecnico Cordoba</dd>
                    <dd>2022</dd>
                </dl>
                
                <dl>
                    <dt>Tecnico Superior en Desarrollo Web y Aplicaciones Digitales</dt>
                    <dd>Instituto Superior Politecnico Cordoba</dd>
                    <dd>2022</dd>
                </dl>
            </div>

<!---         <div class="col-6">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <img src="assets/images/cursos/certificado_4eztot0lZd7vHCQC21j_95224130_page-0001.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                    
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="assets/images/cursos/argentina_programa_febrero_abril_2022_page-0001.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="assets/images/cursos/Coursera 52K5LHAWVD7Z_page-0001.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
               
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
          -->

        </div>
          
       
    </div>  
    </div>
</div>
