<!--Acerca-->
<div class="container-fluid cajon">
    <div id="box" class="p-3 bg-square bg-opacity-50 rounded text-white mt-3 pt-3">
        <div class="Acerca">
            <p class="fw-bold fs-3 text-warning">Acerca:</p>

            <div class="row">
                <div class="col-md-2">
                    
                        <img src="assets/images/1656337559716.jfif"alt="foto-perfil" class="rounded-circle img-fluid perfil">
                   
                </div>
                
                <div class="col-md-10 mt-2 pt-5">
                    <p>Soy una persona en constante aprendizaje y con gran interés por los desafíos, adaptable a cambios con habilidades interpersonales que me permiten fácilmente adaptarme a grupos de trabajo.</p>
                    <p>Busco un puesto en el mundo IT que me permita demostrar mis habilidades y expresar mi creatividad en el ramo.</p>
                </div>
            </div>
        </div>
    </div>
</div>